# Set CFOUR Variables

export PATH="/opt/cfour/cfour_v1_64bit/bin:$PATH"
mkdir -p /tmp/$USER/$PBS_JOBID
export SCRATCH=/tmp/$USER/$PBS_JOBID
export CFOUR_GENBAS=/opt/cfour/cfour_v1_64bit/basis/GENBAS
export CFOUR_ECPDATA=/opt/cfour/cfour_v1_64bit/basis/ECPDATA

#Set MPI Variables
export OMP_NUM_THREADS=1
export NSLOTS=${nslot}

# Copy Job/Executable Data
cp $PBS_O_WORKDIR/${input} $SCRATCH/ZMAT
cp $CFOUR_GENBAS $SCRATCH
cp $CFOUR_ECPDATA $SCRATCH
if [ -e JAINDX ]; then cp JAINDX $SCRATCH; fi
if [ -e JOBARC ]; then cp JOBARC $SCRATCH; fi
if [ -e FCMINT ]; then cp FCMINT $SCRATCH; fi
if [ -e GENBAS ]; then cp GENBAS $SCRATCH; fi
if [ -e ECPDATA ]; then cp ECPDATA $SCRATCH; fi

echo " Running cfour on `hostname`"
echo " Default GENBAS is:\n    "$CFOUR_GENBAS
echo " Running calculation..."

cd $SCRATCH
xcfour >& $PBS_O_WORKDIR/${output}
xja2fja
/opt/scripts/sjob/cfour2avogadro $PBS_O_WORKDIR/${output}

echo " Saving data and cleaning up..."
if [ -e ZMATnew ]; then cp -f ZMATnew $PBS_O_WORKDIR/ZMATnew; fi

echo " Job complete on `hostname`."

