# Set CFOUR Variables

export PATH="/opt/cfour/Bcfour_v2beta/bin:$PATH"
export PATH="/opt/envs/intel/lib:$PATH"
mkdir -p /tmp/$USER/$PBS_JOBID
export SCRATCH=/tmp/$USER/$PBS_JOBID
export CFOUR_GENBAS=/opt/cfour/Bcfour_v2beta/basis/GENBAS
export CFOUR_ECPDATA=/opt/cfour/Bcfour_v2beta/basis/ECPDATA
MKLROOT="/home/tnurkkala/intel/compilers_and_libraries_2018/linux/mkl"
source $MKLROOT/bin/mklvars.sh intel64 ilp64

#Set MPI Variables
export OMP_NUM_THREADS=1
export NSLOTS=1

# Copy Job/Executable Data
cp $PBS_O_WORKDIR/${input} $SCRATCH/ZMAT
cp $CFOUR_GENBAS $SCRATCH
cp $CFOUR_ECPDATA $SCRATCH
if [ -e $PBS_O_WORKDIR/JAINDX ]; then cp $PBS_O_WORKDIR/JAINDX $SCRATCH/JAINDX; fi
if [ -e $PBS_O_WORKDIR/JOBARC ]; then cp $PBS_O_WORKDIR/JOBARC $SCRATCH/JOBARC; fi
if [ -e $PBS_O_WORKDIR/FCMINT ]; then cp $PBS_O_WORKDIR/FCMINT $SCRATCH/FCMINT; fi
if [ -e $PBS_O_WORKDIR/FCMFINAL ]; then cp $PBS_O_WORKDIR/FCMFINAL $SCRATCH/FCMFINAL; fi
if [ -e $PBS_O_WORKDIR/GENBAS ]; then cp $PBS_O_WORKDIR/GENBAS $SCRATCH/GENBAS; fi
if [ -e $PBS_O_WORKDIR/ECPDATA ]; then cp $PBS_O_WORKDIR/ECPDATA $SCRATCH/ECPDATA; fi

echo " Running cfour on `hostname`"
echo " Default GENBAS is:\n    "$CFOUR_GENBAS
echo " Running calculation..."

cd $SCRATCH
/opt/cfour/Bcfour_v2beta/bin/xcfour >& $PBS_O_WORKDIR/${output}
/opt/cfour/Bcfour_v2beta/bin/xja2fja
/opt/scripts/sjob/cfour2avogadro $PBS_O_WORKDIR/${output}

echo " Saving data and cleaning up..."
if [ -e ZMATnew ]; then cp -f ZMATnew $PBS_O_WORKDIR/ZMATnew; fi

echo " Job complete on `hostname`."

